body {
  background-color: whitesmoke;
  font-family: "Nunito", sans-serif;
}

.app {
  border-radius: 1.25rem;
  border: 4px solid whitesmoke;
  margin: 1.75rem auto 1rem auto;
  max-width: 500px;
  padding: 3rem 2.25rem 1.75rem 2.25rem;
}

/* Search */

input.form-control {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1.25rem;
  border: none;
  color: white;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  padding: 20px;
  transition: 200ms;
}

input.form-control::placeholder {
  color: rgba(255, 255, 255, 0.9);
}

input.form-control:hover::placeholder {
  color: rgba(0, 0, 0, 0.75);
}

input.form-control:hover,
input.form-control:focus {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 0.75);
}

.input-group button {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1.25rem;
  border: none;
  color: rgba(255, 255, 255, 0.9);
  left: 1px;
}

.input-group button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 0.75);
}

#search-city {
  left: 1px;
}

#geolocate {
  left: 2px;
}

/* Current Weather */

.current {
  background-color: white;
  border-radius: 1.25rem;
  margin: 2rem 0 1rem 0;
  overflow: hidden;
  padding: 2rem;
}

.current .now {
  margin-bottom: 1rem;
}

#city {
  color: #3d4a77;
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 0;
  padding: 0;
}

#date-time {
  color: gray;
  font-size: 0.5rem;
  letter-spacing: 0.05rem;
  margin-top: 0;
  padding-left: 3px;
  padding-top: 0;
  text-transform: uppercase;
}

#current-weather-icon {
  color: white;
  font-size: 270px;
  left: -155px;
  opacity: 25%;
  position: absolute;
  top: -120px;
}

#current-temperature {
  color: #3d4a77;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  text-align: right;
}

#current-weather-details {
  /* Most of this is the same as the date and time so might be worth finding a way to merge them*/
  color: gray;
  font-size: 0.5rem;
  letter-spacing: 0.05rem;
  line-height: 1.8;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 3px;
  padding-top: 3px;
  text-transform: uppercase;
}

/* Future Weather */

#future,
.future-weather {
  color: white;
  font-weight: 300;
  padding-left: 1.25rem;
}

.future-weather .row {
  border-radius: 1.25rem;
  padding: 0.5rem 0;
  transition: 200ms;
}

.future-weather .row:hover {
  background: rgba(255, 255, 255, 0.2);
}

#future h3,
h4 {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  margin-top: 0.5rem;
}

#future .icon {
  font-size: 1.25rem;
  margin-top: 0.2rem;
  text-align: right;
}

#future .min-max {
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

#future .min-max span {
  display: block;
  margin-top: 0.4rem;
}

.min {
  color: rgba(255, 255, 255, 0.5);
  text-align: right;
}

/* Switch between celsius and fahrenheit */

#switch {
  cursor: pointer;
  font-size: 0.75rem;
  text-align: center;
}

/* Link to GitHub Repo */

.source {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.75rem;
  margin-bottom: 2rem;
  text-align: center;
}
